<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{blog.titlePrefix}}{{blog.title}}</title>
    <link rel="alternate" href="{{site.urlBase}}/atom-feed.xml" type="application/atom+xml" title="Feed of blog posts (Atom)">
    <link rel="stylesheet" href="{{site.urlBase}}/css/style.css" type="text/css">
  </head>
  <body>
    <div class="blog-header">
      <h1><a href="{{site.urlBase}}/">blog.raek.se</a></h1>
    </div>
    <div class="index">
      {{#index.years}}
      <h1>{{year}}</h1>
      {{#posts}}
      <div class="index-entry">
        <h2 class="index-entry-title">
          <a href="{{site.urlBase}}/{{path}}/">{{title}}</a>
        </h2>
        <div class="index-entry-date">
          {{datePublished}}
        </div>
        <div class="index-entry-summary">
          {{summary}}
        </div>
      </div>
      {{/posts}}
      {{/index.years}}
    </div>
  </body>
</html>
