<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{blog.titlePrefix}}{{post.title}}</title>
    <link rel="alternate" href="{{site.urlBase}}/atom-feed.xml" type="application/atom+xml" title="Feed of blog posts (Atom)">
    {{#post.style}}
    <link rel="stylesheet" href="{{site.urlBase}}/css/{{post.style}}.css" type="text/css">
    {{/post.style}}
    {{^post.style}}
    <link rel="stylesheet" href="{{site.urlBase}}/css/engineer.css" type="text/css">
    {{/post.style}}
  </head>
  <body>
    <div class="blog-header">
      <h1><a href="{{site.urlBase}}/">blog.raek.se</a></h1>
    </div>
    <div class="post-body">
      <h1>{{post.title}}</h1>

{{{body}}}

    </div>
    <div class="post-comments">
      <h1>Comments</h1>

{{#post.draft}}
      <p>[Comments will go here...]</p>
{{/post.draft}}
{{^post.draft}}
      <script data-isso="https://comments.raek.se/"
	      data-isso-lang="en"
	      data-isso-avatar="false"
              src="https://comments.raek.se/js/embed.min.js"></script>
      <section id="isso-thread">
	<noscript>Javascript needs to be activated to view comments.</noscript>
      </section>
{{/post.draft}}

    </div>
  </body>
</html>
