<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{blog.titlePrefix}}{{post.title}}</title>
    <link rel="alternate" href="{{site.urlBase}}/atom-feed.xml" type="application/atom+xml" title="Feed of blog posts (Atom)">
    {{#post.style}}
    <link rel="stylesheet" href="{{site.urlBase}}/css/{{post.style}}.css" type="text/css">
    {{/post.style}}
    {{^post.style}}
    <link rel="stylesheet" href="{{site.urlBase}}/css/engineer.css" type="text/css">
    {{/post.style}}
  </head>
  <body>
    <div class="blog-header">
      <h1><a href="{{site.urlBase}}/">blog.raek.se</a></h1>
    </div>
    <div class="post-body">
      <h1>{{post.title}}</h1>

{{{body}}}

    </div>
    <div class="post-comments">
      <h1>Comments</h1>
      <p>Guest commenting is enabled. Registration is not required.</p>

{{#post.draft}}
      <p>[Comments will go here...]</p>
{{/post.draft}}
{{^post.draft}}
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = "{{blog.realUrlBase}}/{{post.path}}/";
this.page.identifier = "{{post.path}}";
this.page.title = "{{post.title}}";
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://blog-of-raek.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{/post.draft}}

    </div>
  </body>
</html>
