$bg: rgb(255, 255, 255);
$accent: rgb(0, 140, 158);
$tint: rgb(0, 93, 105);
$text: rgb(0, 0, 0);

body {
  margin: 0 auto;
  padding: 0 1em;
  width: 30em;
  text-align: justify;
  font-family: "Georgia", "DejaVu Serif", serif;
  font-size: 16px;
  line-height: 1.35em;
  color: $text;
  background-color: $bg;
  hyphens: auto;
}

@media screen and (max-width:510px) {
  body {
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
}

.blog-header {
  text-align: center;
  h1 {
    margin: 1em 0;
    a {
      color: $text;
      text-decoration: none;
    }
  }
}

h1 {
  text-align: center;
  color: $accent;
}

h2, h3, h4, h5, h6 {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 1em 0;
  line-height: 1.3em;
  font-weight: normal;
}

pre {
  margin: 0;
  margin-left: 2em;
  overflow: visible;
  code {
    text-align: left;
  }
}

code {
  font-family: "Inconsolata", "DejaVu Sans Mono", "Monaco", monospace;
  color: $tint;
  hyphens: none;
}

blockquote {
  margin: 0 2em;
  font-style: italic;
  color: $tint;
}

a:link, a:visited, a:active {
  color: $accent;
}

a.footnote, a.footnote-backlink {
  text-decoration: none;
}

.index-entry {
  margin: 4em 0;
}

.index-entry-title {
  text-align: left;
}

.index-entry-date {
  margin: 1em 0;
  font-weight: bold;
}

.figure {
  margin: 0 2em;
  text-align: center;
  overflow: auto;
  img {
    border: 1px solid $accent;
    padding: 3px;
  }
}

label {
  font-size: 0.8em;
}
