/* Light mode colors */

body, .blog-header h1 a {
  color: black;
}

body {
  background-color: white;
}

h1, a:link, a:visited, a:active {
  color: rgb(0, 140, 158);
}

.figure {
  color: rgb(0, 140, 158);
}

.figure img {
  border-color: rgb(0, 140, 158);
}

code, blockquote {
  color: rgb(0, 93, 105);
}

/* Dark mode colors */

@media (prefers-color-scheme: dark) {
  body, .blog-header h1 a {
    color: white;
  }

  body {
    background-color: black;
  }

  h1, a:link, a:visited, a:active {
    color: rgb(0, 225, 255);
  }

  strong {
    font-weight: normal;
    color: rgb(0, 225, 255);
  }

  li::marker {
    color: rgb(0, 225, 255);
  }

  .figure {
    color: rgb(0, 225, 255);
  }

  .figure img {
    border-color: rgb(0, 225, 255);
  }

  code, blockquote {
    color: rgb(64, 176, 191);
  }
}

/* Size and layout */

body {
  margin: 0 auto;
  padding: 0 1em;
  width: 30em;
  text-align: justify;
  font-family: "Georgia", "DejaVu Serif", serif;
  font-size: 16px;
  line-height: 1.35em;
  hyphens: auto;
}

@media screen and (max-width: 510px) {
  body {
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
}

.blog-header {
  text-align: center;
}

.blog-header h1 {
  margin: 1em 0;
}

.blog-header h1 a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

h2, h3, h4, h5, h6 {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 1em 0;
  line-height: 1.3em;
  font-weight: normal;
}

pre {
  margin: 0;
  margin-left: 2em;
  overflow: visible;
}

code {
  font-family: "Inconsolata", "DejaVu Sans Mono", "Monaco", monospace;
  hyphens: none;
}

blockquote {
  margin: 0 2em;
  font-style: italic;
}

a:link, a:visited, a:active {
}

a.footnote, a.footnote-backlink {
  text-decoration: none;
}

.figure {
  margin: 0 2em;
  text-align: center;
  overflow: auto;
}

.figure img {
  padding: 3px;
  border-width: 1px;
  border-style: solid;
}

label {
  font-size: 0.8em;
}

/* Index page specific */

.index-entry {
  margin: 4em 0;
}

.index-entry-title {
  text-align: left;
}

.index-entry-date {
  margin: 1em 0;
  font-weight: bold;
}
